{% extends "base.html" %}

{% block content %}
<h1>Maintenance</h1>
<ul>
    {% for maintenance in maintenances %}
    <li>
        <a href="{{ url_for('maintenance_detail', maintenance_id=maintenance.id) }}">{{ maintenance.date }}: Part {{ maintenance.part_id }} at {{ maintenance.mileage }} miles</a>
    </li>
    {% endfor %}
</ul>
<h2>Add New Maintenance</h2>
<form action="{{ url_for('maintenance') }}" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.date.label }}<br>
        {{ form.date() }}
    </p>
    <p>
        {{ form.part_id.label }}<br>
        {{ form.part_id() }}
    </p>
    <p>
        {{ form.mileage.label }}<br>
        {{ form.mileage() }}
    </p>
    <p>
        {{ form.additional_details.label }}<br>
        {{ form.additional_details() }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}
